@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  background-color: #FFFFFF;
  box-shadow: -20px 0 10px -20px rgba(0, 0, 0, .2), 20px 0 10px -20px rgba(0, 0, 0, .2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  font-family: inherit;
  color: #000000;
  background: #ffffff;
}

.navigation {
  display: flex;
  width: 1060px;
  padding: 0;
  margin: 0 auto;
}

.navigation-logo {
  display: inline-block;
  position: absolute;
  z-index: 1;
  width: 139px;
  height: 70px;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 450px;
  list-style-type: none;
  padding-left: 169px;
  margin:0;
}

.navigation-user {
  max-width: 295px;
  margin-left: auto;
  padding: 0;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.navigation-link {
  display: block;
  position: relative;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-link:hover {
color: #756257;
}

.navigation-link:focus {
  text-decoration: underline #83B3D3;
  outline: none;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link-current::before {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 2px;
  background-color: #756257 ;
  content: "";
}

.navigation-link .active::before {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 2px;
  background-color: #756257 ;
  content: "";
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.favorite-number::after {
  position: absolute;
  content: "12";
  display: block;
  box-sizing:content-box;
  top: 11px;
  right: 4px;
  font-size: 10px;
  line-height: 2;
  font-weight: 400;
  color:  #FFFFFF;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7DB54F;
}

.navigation-link:focus .navigation-icon {
  fill: #FFFFFF;
}

.navigation-link:focus .favorite-number {
  background-color: #FFFFFF;
}

.navigation-link:active .navigation-icon {
  color:  #756257;
}

.navigation-link:active .favorite-number {
  background-color: #7DB550;
  color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
  background: #ffffff;
}

.main-inner {
 margin: 0;
 padding: 0;
}

.page-container {
  margin: 0 auto;
}

.promo {
  height: 485px;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.welcome {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 25px;
}

.slogan-title {
  display: block;
  font-size: 30px;
  line-height: 36px;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  margin: 63px 0 31px;
}

.slogan-subtitle {
  font-size: 22px;
  line-height: 36px;
  margin: 0 auto;
  margin-bottom: 80px;
  font-weight: normal;
  text-align: center;
  color:#333333;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color:#333333;
}

.advantages-item {
  width: 400px;
  padding: 0px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  padding: 97px 100px 29px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  color:#000000;
}

.advantages-number {
  padding-bottom: 30px;
  margin: 0 auto;
}

.advantages-description {
  margin: 0;
  padding: 0 70px 108px;
}

.advantages-item-white {
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-item-white .advantages-title {
  color:#FFFFFF;
}

.advantages-item-white .advantages-description {
  padding: 0 70px 87px;
}


.advantages-item-black {
  background-color: hsl(204 48% 67% / 0.2);
}

.advantages-subitems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.advantages-subitem:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-subitem:nth-child(even) {
  background-color:  #FFFFFF;
}

.advantages-subitem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 400px;
  padding-top: 184px;
  padding-bottom: 79px;
  margin: 0;
}

.advantages-subitem .advantages-title {
  padding: 0;
  margin-bottom: 20px;
}

.advantages-subitem .advantages-description {
 margin:0;
 padding: 0 75px 10px;
}

.advantages-subitem .advantages-title::before {
  content: "";
  position: absolute;
  margin: 0 auto;
  padding: 0;
  background-repeat: no-repeat;
}

.house::before {
  top: 89px;
  left: 162px;
  width: 74px;
  height: 72px;
  background-image: url("../images/advantages/house.svg");
  background-repeat: no-repeat;
}

.meal::before {
  top: 91px;
  left: 160px;
  width: 74px;
  height: 70px;
  background-image: url("../images/advantages/meal.svg");
}

.souvenirs::before {
  top: 85px;
  left: 170px;
  width: 64px;
  height: 76px;
  background-image: url("../images/advantages/souvenirs.svg");
  background-repeat: no-repeat;
}

.index-column {
  display: block;
  padding: 0;
  margin: 0;
}

.hotel-search{
  text-align: center;
  color:#333333;
  margin: 91px auto 93px;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: inherit;
  padding: 0;
  margin: 0;
  color: #000000
}

.hotel-search-disciption {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: -1px;
  margin: 29px 240px 56px;
  padding: 0 50px;
  color: #333333;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -1px;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 20px;
  padding: 9px 25px 8px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button:hover {
  color:#FFFFFF;
  background-color: #615048;
}

.button:focus {
  outline: none;
  text-decoration: none;
  box-shadow: 0 0 0 3px #83B3D3;
}

.button:active {
  background-color: #615048;
  color:rgba(255, 255, 255, 0.3);
  opacity: 0.3;
}

.hotel-search .button {
  width: 575px;
  padding: 15px auto;
  border-radius: 10px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  margin: 0 auto;
  padding: 15px auto;
}

.catalog-filter-button-complex {
  display:flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 160px;
  height: 48px;
  border-radius: 4px;
}

.button-apply {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83B3D3;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  width: 160px;
  padding:10px;
  margin: 0;
}

.button-apply:hover {
background: #68A2CA;
}

.button-apply:focus {
  background: #68A2CA;
  border: 3px solid #FFFFFF;
}

.button-apply:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.button-reset {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: center;
  background: transparent;
  border: none;
  margin-top: 20px;
  padding: 0;
  color: #FFFFFF;
}

.button-reset:hover {
  color: #FFFFFF;
  opacity: 0.6;
}

.button-reset:focus {
  color: #FFFFFF;
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-reset:focus {
  color: #FFFFFF;
  opacity: 0.6;
}

.product-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  height: 60px;
  width: 620px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #83B3D3;
  border-radius: 4px;
}

.product-more-button:hover {
  background-color: #68A2CA;
}

.product-more-button:focus {
  background-color: #68A2CA;
  border: 3px solid #756257;
}

.product-more-button:active {
  background-color: #68A2CA;
  color: #FFFFFF;
  opacity: 0.3;
}

.card-button {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 21px;
  border-radius: 4px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756257;
  border-radius: 4px;
  padding: 9px 0 10px;
  margin:0;
  width: 140px;
}

.card-button:hover {
  background-color: #615048;
}

.card-button:focus {
  background-color: #756257;
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.card-button:active {
  background-color: #615048;
  color: #FFFFFF;
  opacity: 0.3;
}

.card-button-select {
  color: #ffffff;
  background-color: #83B3D3;
  margin-left: 10px;
}

.card-button-select:hover {
  background: #68A2CA;
  border: 1px solid #756257;
}

.card-button-select:focus {
  background: #68A2CA;
  border: 3px solid #756257;
}

.card-button-select:active {
  background: #68A2CA;
  border: 1px solid #756257;
  color: #FFFFFF;
  opacity: 0.3;
}

.card-button-select:nth-child {
  background-color: #7DB54F;
}

.subscribe {
  flex-grow: 1;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
  margin-bottom: 47px;
  padding: 94px 200px 93px;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
}

.subscribe-subtitle {
  padding: 0;
  margin: 0;
  margin-bottom: 46px;
}

.subscribe-form {
  display: flex;
}

.subscribe-email {
  box-sizing: border-box;
  width: 600px;
  font: inherit;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 8px 16px;
  background-color: #F2F2F2;
  border-radius: 10px 0 0 10px;
  border: 1px solid #F2F2F2;
  outline: none;
}

.subscribe-email::placeholder {
  color: #000000;
  opacity: 0.6;
}

.subscribe-email:hover {
  background-color:#E6E6E6;
}

.subscribe-email:focus {
  background-color:#E6E6E6;
  border: 3px solid #83B3D3;
  outline: none;
}

.subscribe-email:invalid {
  background: #FFFFFF;
  border: 2px solid #FF5757;
}

.subscribe-form-button {
  width: 200px;
  height: 61px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 0px 10px 10px 0px;
  color: #ffffff;
  background-color: #83B3D3;
  margin: 0;
  padding: 0 4px;
}

.subscribe-form-button:hover {
 background-color: #68A2CA;
}

.subscribe-form-button:focus {
  color: #FFFFFF;
  background-color: #68A2CA;
  outline: 3px solid #756257;
}

.subscribe-form-button:active {
  color: #FFFFFF;
  background-color: #68A2CA;
  opacity: 0.3;
}

.main-footer {
  font-family: inherit;
  color: #000000;
  background-color: #ffffff;
}

.main-footer-container {
  display: flex;
  justify-content:space-between;
  padding: 0 72px;
  margin: 0;
}

.footer-social {
  max-width: 140px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 49px 0 53px;
}

.footer-social-item {
  position: relative;
  padding: 0;
  margin-right: 10px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-link {
  display: block;
  box-sizing: border-box;
  min-height: 22px;
  min-width: 22px;
  padding: 10px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-social-link:hover {
  fill:#68A2CA;
}

.footer-social-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 1px;
}

.footer-social-link:active {
  fill:#68A2CA;
  opacity: 0.3;
  outline: none;
}

.footer-contacts {
  margin: 30px auto 30px;
  padding: 0;
}

.footer-contacts-phone {
  display: block;
  box-sizing: border-box;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  margin: 0;
}

.footer-contacts-phone:hover {
  color:  #756257;
}

.footer-contacts-phone:focus {
  color:  #756257;
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.footer-contacts-phone:active {
  color: #756257;
  opacity: 0.3;
}

.footer-htmlacademy {
  box-sizing: border-box;
  width: 115px;
  padding: 32px 0 34px;
}

.footer-htmlacademy-link {
  padding: 0;
  margin: 0;
}

.htmlacademy-icon {
  fill: #000000;
  padding: 10px;
}

.footer-htmlacademy-link:hover {
  fill: #756257;
}

.footer-htmlacademy-link:focus {
  fill: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.footer-htmlacademy-link:active {
  fill: #756257;
  opacity: 0.3;
}

.inner-header {
  background-image: url("../images/catalog-background.jpg");
  height: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 35px 71px 0;
  margin: 0;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: inherit;
  margin: 0;
  padding-bottom: 5px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  position: relative;
  margin: 0;
  padding: 0px;
  list-style-type: none;
}

.breadcrumbs-link {
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  padding-left: 20px;
}

.breadcrumbs-icon {
  position: absolute;
  bottom: 5px;
  right: 3px;
  fill:#FFFFFF;
  width: 12px;
  height: 12px;
  padding-left: 0;
  margin: auto;
}

.breadcrumbs-item:after {
  position: absolute;
  content: "";
  background-image: url(../images/arrow.svg);
  fill: #FFFFFF;
  background-repeat: no-repeat;
  right: -13px;
  bottom: 5px;
  width: 5px;
  height: 8px;
  margin: auto;
  padding: 0;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.catalog-products {
  font-weight: 400;
  margin: 0;
  padding-top: 45px;
  padding-bottom: 55px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  margin-right: 67px;
  padding: 0;
  border: none;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  margin: 0;
  padding-bottom: 30px;
}

.catalog-filter-item {
  padding-bottom: 13px;
  margin: 0 ;
}

.sorting-container {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 44px 72px 53px 71px;
  color: #000000;
  background-color: #ffffff;
}

.sorting-title {
  letter-spacing: -2px;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
  margin-right: 150px;
  padding: 0;
}

.sorting-type {
  border: 2px solid #E6E6E6;
  color: #E6E6E6 ;
  margin-right: auto;
}

.sorting-control {
  box-sizing:border-box;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -1px;
  color: #000000;
}

.sorting-control option {
  color: #333333;
}

.sorting-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color:#ffffff;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  margin-left: 8px;
}

.sorting-toggle svg {
  fill: #000000;
}

.sorting-toggle-current {
  border-color: #000000;
}

.sorting-toggle:hover {
  border: 2px solid #83B3D3;
}

.sorting-toggle:focus {
  border: 2px solid #83B3D3;
}

.sorting-toggle:active {
  border: 2px solid #000000;
}

.product-result {
  width: auto;
  margin: 0 72px;
  padding: 0;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 10px 18px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 34px;
}

.product-card {
  display: grid;
  grid-template-columns: 20px 300px 20px;
  grid-template-rows: 206px min-content min-content;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  row-gap: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-card-image-link {
  grid-column: 2/3 ;
}

.product-card-image {
  width: 300px;
  object-fit:contain;
  background-color:#F2F2F2;
}

.product-card-image:hover {
  opacity: 0.6;
}

.product-card-image:focus {
  border: 3px solid #83B3D3;
}

.product-card-image:active {
  opacity: 0.3;
}

.product-card-title-link {
  grid-column: 2/3 ;
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

.card-description {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 150px 150px;
  row-gap: 16px;
  margin: 0;
}

.product-card-subtitle {
  margin: 0;
}

.product-card-price {
  margin: 0;
  margin-left: 10px;
}

.stars {
  display: block;
  background-image: url(../images/star-1.svg);
  width: 18px;
  height: 17px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
}

.rating {
  align-self: center;
  justify-self: end;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #F2F2F2;
  margin: 0;
  width: 160px;
  padding: 9px 0 10px;
  position: relative;
}

.divider {
  border: 1px solid #E6E6E6;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 60px 72px 73px;
  padding: 0;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 14px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #83B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
  border: 3px solid #756257;
}

.pagination-link:active {
  background-color: #68A2CA;
  color: #FFFFFF;
  opacity: 0.3;
  border: none;
}

.product-quantity {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 23px;
}

.product-quantity-control {
  margin-left: 51px;
  padding: 13px 17px 12px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  width: 160px;
}

.inner-subscribe {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  margin: 0 auto 140px;
  padding: 73px 200px 0;
}

.inner-subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  padding: 0;
  margin-bottom: 46px;
}

