@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  background-color: #FFFFFF;
  box-shadow: -20px 0 10px -20px rgba(0, 0, 0, .2), 20px 0 10px -20px rgba(0, 0, 0, .2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  font-family: inherit;
  color: #000000;
  background: #ffffff;
}

.navigation {
  display: flex;
  width: 1060px;
  padding: 0;
  margin: 0 auto;
}

.navigation-logo {
  display: inline-block;
  position: absolute;
  z-index: 1;
  width: 139px;
  height: 70px;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 450px;
  list-style-type: none;
  padding-left: 169px;
  margin:0;
}

.navigation-user {
  max-width: 295px;
  margin-left: auto;
  padding: 0;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.navigation-link {
  display: block;
  position: relative;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-link:hover {
color: #756257;
}

.navigation-link:focus {
  text-decoration: underline #83B3D3;
  outline: none;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link-current::before {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 2px;
  background-color: #756257 ;
  content: "";
}

.navigation-link .active::before {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 2px;
  background-color: #756257 ;
  content: "";
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.favorite-number::after {
  position: absolute;
  content: "12";
  display: block;
  box-sizing:content-box;
  top: 11px;
  right: 4px;
  font-size: 10px;
  line-height: 2;
  font-weight: 400;
  color:  #FFFFFF;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7DB54F;
}

.navigation-link:hover .navigation-icon,
.navigation-link:hover .favorite-number {
  fill:#756257;
}

.navigation-link:active .navigation-icon {
  color:  #756257;
  color: #FFFFFF;
  opacity: 0.3;
}

.navigation-link:active .favorite-number {
  background-color: #7DB550;
  color: #FFFFFF;
  opacity: 0.3;
}


.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
  background: #ffffff;
}

.main-inner {
 margin: 0;
 padding: 0;
}

.page-container {
  margin: 0 auto;
}

.promo {
  height: 485px;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.welcome {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 25px;
}

.slogan-title {
  display: block;
  font-size: 30px;
  line-height: 36px;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  margin: 63px 0 31px;
}

.slogan-subtitle {
  font-size: 22px;
  line-height: 36px;
  margin: 0 auto;
  margin-bottom: 80px;
  font-weight: normal;
  text-align: center;
  color:#333333;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color:#333333;
}

.advantages-item {
  width: 400px;
  padding: 0px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  padding: 97px 100px 29px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  color:#000000;
}

.advantages-number {
  padding-bottom: 30px;
  margin: 0 auto;
}

.advantages-description {
  margin: 0;
  padding: 0 70px 108px;
}

.advantages-item-white {
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-item-white .advantages-title {
  color:#FFFFFF;
}

.advantages-item-white .advantages-description {
  padding: 0 70px 87px;
}

.advantages-item-black {
  background-color: hsl(204 48% 67% / 0.2);
}

.advantages-subitems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.advantages-subitem:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-subitem:nth-child(even) {
  background-color:  #FFFFFF;
}

.advantages-subitem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 400px;
  padding-top: 184px;
  padding-bottom: 79px;
  margin: 0;
}

.advantages-subitem .advantages-title {
  padding: 0;
  margin-bottom: 20px;
}

.advantages-subitem .advantages-description {
 margin:0;
 padding: 0 75px 10px;
}

.advantages-subitem .advantages-title::before {
  content: "";
  position: absolute;
  margin: 0 auto;
  padding: 0;
  background-repeat: no-repeat;
}

.house::before {
  top: 89px;
  left: 162px;
  width: 74px;
  height: 72px;
  background-image: url("../images/advantages/house.svg");
  background-repeat: no-repeat;
}

.meal::before {
  top: 91px;
  left: 160px;
  width: 74px;
  height: 70px;
  background-image: url("../images/advantages/meal.svg");
}

.souvenirs::before {
  top: 85px;
  left: 170px;
  width: 64px;
  height: 76px;
  background-image: url("../images/advantages/souvenirs.svg");
  background-repeat: no-repeat;
}

.index-column {
  display: block;
  padding: 0;
  margin: 0;
}

.hotel-search{
  text-align: center;
  color:#333333;
  margin: 91px auto 93px;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: inherit;
  padding: 0;
  margin: 0;
  color: #000000
}

.hotel-search-disciption {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: -1px;
  margin: 29px 240px 56px;
  padding: 0 50px;
  color: #333333;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -1px;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 20px;
  padding: 9px 25px 8px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button:hover {
  color:#FFFFFF;
  background-color: #615048;
}

.button:focus {
  outline: none;
  text-decoration: none;
  box-shadow: 0 0 0 3px #83B3D3;
}

.button:active {
  background-color: #615048;
  color:rgba(255, 255, 255, 0.3);
}

.hotel-search .button {
  width: 575px;
  padding: 15px auto;
  border-radius: 10px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  margin: 0 auto;
  padding: 15px auto;
}

.catalog-filter-button-complex {
  display:flex;
  flex-direction: column;
  align-self: center;
  padding: 0;
  margin: 0;
  width: 160px;
  height: 48px;
  border-radius: 4px;
}

.button-apply {
  display: inline-block;
  box-sizing: border-box;
  width: 160px;
  height: 48px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83B3D3;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 13px 0;
  margin: 0;
}

.button-apply:hover {
  background: #68A2CA;
}

.button-apply:focus {
  background: #68A2CA;
  outline: 3px solid #FFFFFF;
}

.button-apply:active {
  color: #95BEDA;
}

.button-reset {
  display: inline-block;
  box-sizing: border-box;
  align-self: center;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: center;
  background: transparent;
  border: none;
  margin-top: 20px;
  padding: 5px 10px;
  color: #FFFFFF;
  cursor: pointer;
}

.button-reset:hover {
  color: #FFFFFF;
  opacity: 0.6;
}

.button-reset:focus {
  color: #FFFFFF;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-reset:active {
  color: #FFFFFF;
  opacity: 0.6;
}

.product-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  height: 60px;
  width: 620px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #83B3D3;
  border-radius: 4px;
}

.product-more-button:hover {
  background-color: #68A2CA;
}

.product-more-button:focus {
  background-color: #68A2CA;
  outline: 3px solid #756257;
}

.product-more-button:active {
  background-color: #68A2CA;
  color: #95BEDA;
}

.card-button {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 21px;
  border-radius: 4px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756257;
  border-radius: 4px;
  padding: 9px 0 10px;
  margin:0;
  width: 140px;
}

.card-button:hover {
  background-color: #615048;
}

.card-button:focus {
  background-color: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.card-button:active {
  background-color: #615048;
  color: #FFFFFF;
  opacity: 0.3;
}

.card-button-select {
  color: #ffffff;
  background-color: #83B3D3;
  margin-left: 10px;
}

.card-button-select:hover {
  background: #68A2CA;
  outline: 1px solid #756257;
}

.card-button-select:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
}

.card-button-select:active {
  background: #68A2CA;
  outline: 1px solid #756257;
  color: #FFFFFF;
  opacity: 0.3;
}

.card-button-select-current {
  margin-left: 10px;
  background-color: #7DB54F;
}

.card-button-select-current:hover {
  background: #6C9E42;
}

.card-button-select-current:focus {
  background: #6C9E42;
  outline: 3px solid #756257;
}

.card-button-select-current:active {
  background: #6C9E42;
  color: #FFFFFF;
  opacity: 0.3;
}

.subscribe {
  flex-grow: 1;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
  margin-bottom: 47px;
  padding: 94px 200px 93px;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
}

.subscribe-subtitle {
  padding: 0 40px;
  margin: 0;
  margin-bottom: 46px;
}

.subscribe-form {
  display: flex;
}

.subscribe-email {
  box-sizing: border-box;
  width: 600px;
  font: inherit;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 8px 16px;
  background-color: #F2F2F2;
  border-radius: 10px 0 0 10px;
  border: 3px solid #F2F2F2;
  outline: none;
}

.subscribe-email::placeholder {
  color: #000000;
  opacity: 0.6;
}

.subscribe-email:hover {
  background-color:#E6E6E6;
}

.subscribe-email:focus {
  background-color:#E6E6E6;
  border: 3px solid #83B3D3;
  outline: none;
}

.subscribe-email:invalid {
  background: #FFFFFF;
  border: 2px solid #FF5757;
}

.subscribe-form-button {
  width: 200px;
  height: 61px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 0px 10px 10px 0px;
  color: #ffffff;
  background-color: #83B3D3;
  margin: 0;
  padding: 0 4px;
}

.subscribe-form-button:hover {
 background-color: #68A2CA;
}

.subscribe-form-button:focus {
  color: #FFFFFF;
  background-color: #68A2CA;
  outline: 3px solid #756257;
}

.subscribe-form-button:active {
  background-color: #68A2CA;
  color:#95BEDA;
}

.main-footer {
  font-family: inherit;
  color: #000000;
  background-color: #ffffff;
}

.main-footer-container {
  display: flex;
  justify-content:space-between;
  padding: 0 72px;
  margin: 0;
}

.footer-social {
  max-width: 140px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 49px 0 53px;
}

.footer-social-item {
  position: relative;
  padding: 0;
  margin-right: 10px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-link {
  display: block;
  box-sizing: border-box;
  min-height: 22px;
  min-width: 22px;
  padding: 10px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-social-link:hover .social-icon {
  fill:#68A2CA;
}

.footer-social-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 1px;
}

.footer-social-link:active {
  fill:#68A2CA;
  opacity: 0.3;
  outline: none;
}

.footer-contacts {
  margin: 30px auto 30px;
  padding: 0;
}

.footer-contacts-phone {
  display: block;
  box-sizing: border-box;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  margin: 0;
}

.footer-contacts-phone:hover {
  color:  #756257;
}

.footer-contacts-phone:focus {
  color:  #756257;
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.footer-contacts-phone:active {
  color: #756257;
  opacity: 0.3;
}

.footer-htmlacademy {
  box-sizing: border-box;
  width: 115px;
  padding: 32px 0 34px;
}

.footer-htmlacademy-link {
  padding: 0;
  margin: 0;
}

.htmlacademy-icon {
  fill: #000000;
  padding: 10px;
}

.footer-htmlacademy-link:hover .htmlacademy-icon {
  fill: #756257;
}

.footer-htmlacademy-link:focus {
  fill: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.footer-htmlacademy-link:active {
  fill: #756257;
  opacity: 0.3;
}

.modal-containe {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-auth {
  width: 715px;
}

.modal-close-button {
  position: absolute;
  padding:0;
  margin-top: 54px;
  margin-right: 70px;
  top: 0;
  right: 0;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border:#F2F2F2;
  border-radius: 50%;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  padding-top: 22px;
  padding-left: 28px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.inner-header {
  background-image: url("../images/catalog-background.jpg");
  height: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 35px 71px 0;
  margin: 0;
}

.inner-header-title {
  font-size: 60px;
  line-height: 68px;
  font-weight: 700;
  color: inherit;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 20px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item:last-child {
 margin: 0;
}

.breadcrumbs-link {
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0 3px;
}

.breadcrumbs-link.home {
  width: 12px;
  height: 12px;
  margin-top: 1px;
  padding: 3px;
}

.breadcrumbs-icon {
  position: absolute;
  bottom: 5px;
  right: 3px;
  fill:#FFFFFF;
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0;
}

.breadcrumbs-item:after {
  position: absolute;
  content: "";
  left: 26px;
  bottom: 6px;
  background-image: url(../images/breadcrumbs-arrow.svg);
  fill: #FFFFFF;
  opacity: 0.3;
  background-repeat: no-repeat;
  width: 5px;
  height: 8px;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-icon:focus {
  outline: none;
}

.breadcrumbs-link:focus-visible {
  outline: none;
}

.breadcrumbs-link.home:hover,
.breadcrumbs-link:hover {
  color: #FFFFFF;
  opacity: 0.6;
}

.breadcrumbs-link.home:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.breadcrumbs-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.breadcrumbs-link:active,
.breadcrumbs-link:active {

  opacity: 0.3;
}

.catalog-products {
  font-weight: 400;
  margin: 0;
  margin-top: 45px;
  padding-bottom: 55px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  margin-right: 57px;
  padding: 0;
  border: none;
  letter-spacing: -1px;
}

.catalog-filter-group:nth-child(3) {
  margin-left: 90px;
  margin-right: 71px;
}

.control-label {
  line-height: 24px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  margin: 0;
  padding-bottom: 30px;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
  box-sizing:border-box;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.control:hover .control-mark {
  background-color:rgba(255, 255, 255, 0.6);
}

.control-input[type="radio"]:hover + .control-mark {
 background-color: #FFFFFF;
}

.control-input:focus + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83B3D3;
}

.control-input[type="radio"]:focus + .control-mark {
  background-color:#FFFFFF;
  outline: 3px solid #83B3D3;
}

.control-input:active + .control-mark {
  background: rgba(255, 255, 255, 0.3);
}

.control-input[type="radio"]:active + .control-mark {
  background-color:#FFFFFF;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 2px;
  left: 3px;
  top: 11px;
  transform: rotate(45deg);
  background-color:  #3F5E72;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  width: 12px;
  height: 2px;
  background-color: #3F5E72;
  transform: rotate(-45deg);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.range-wrapper-inputs {
  display: grid;
  grid-template-columns: 143px 144px;
  grid-template-rows: 48px;
  position: relative;
}

.catalog-filter-label {
  border: 2px solid #FFFFFF;
  padding: 12px 81px 9px 17px;
}

.catalog-filter-label-min {
  border-radius: 4px 0 0 4px;
}

.catalog-filter-label-max {
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.catalog-filter-label-min:hover,
.catalog-filter-label-max:hover {
  border-left: 2px solid #FFFFFF;
  opacity: 0.6;
}

.catalog-filter-label-min:focus,
.catalog-filter-label-max:focus  {
  box-shadow:
  inset 0px 0px 0px 3px #81B3D2,
  0px 0px 0px 3px #81B3D2;
}

.catalog-filter-label-min:active,
.catalog-filter-label-max:active {
  background-color: #756257;
}

.range-input {
  width: 60px;
  padding: 0;
  font-size: 18px;
  line-height: 23px;
  text-align: start;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.catalog-filter-label::after {
  position: absolute;
  content:"";
  margin: 0;
  padding: 0;
  color:#FFFFFF;
  opacity: 0.3;
}

.catalog-filter-label-min::after {
  position: absolute;
  content:"от";
  top: 12px;
  left: 107px;
  right: 0;
  bottom: 0;
  width: 18px;
  height: 23px;
}

.catalog-filter-label-max::after {
  grid-column: 2/3;
  position: absolute;
  content:"до";
  top: 12px;
  left: 112px;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 23px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  margin-top: 32px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-toggle:hover {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  outline: 3px solid #83B3D3;
}

.range-toggle:active {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  outline: 2px solid #83B3D3;
}

.range-input:focus-visible {
  outline: none;
}

.toggle-min {
 top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.sorting-container {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 44px 72px 53px 71px;
}

.sorting-title {
  letter-spacing: -2px;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
  margin-right: 192px;
  padding: 0;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 287px;
  margin-right: auto;
}

.sorting-control {
  width: 100%;
  padding: 12px 89px 13px 15px;
  font-size: 18px;
  line-height: 23px;
  background-image: url(../images/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.product-control:focus-visible {
  outline: none;
}

.sorting-control:hover,
.sorting-control:focus {
  outline: 2px solid #83B3D3;
}

.sorting-control:active {
  outline: 2px solid #E6E6E6;
  opacity: 0.3;
}

.sorting-control option {
  width: 141px;
  height: 23px;
  color: #333333;
  padding: 0;
}

.sorting-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color:#ffffff;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  margin-left: 8px;
}

.sorting-toggle svg {
  fill: #000000;
}

.sorting-toggle-current {
  border-color: #000000;
}

.sorting-toggle:hover {
  border: 2px solid #83B3D3;
}

.sorting-toggle:focus {
  border: 2px solid #83B3D3;
}

.sorting-toggle:active {
  border: 2px solid #000000;
}

.product-result {
  width: auto;
  margin: 0 72px;
  padding: 0;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 10px 18px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 34px;
}

.product-card {
  display: grid;
  grid-template-columns: 20px 300px 20px;
  grid-template-rows: 206px min-content min-content;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  row-gap: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-card-image-link {
  grid-column: 2/3 ;
}

.product-card-image {
  width: 300px;
  object-fit:contain;
  background-color:#F2F2F2;
}

.product-card-image-link:hover {
  opacity: 0.6;
}

.product-card-image-link:focus {
  outline: 3px solid #83B3D3;
}

.product-card-image-link:active {
  opacity: 0.3;
}

.product-card-title-link {
  grid-column: 2/3 ;
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

.card-description {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 150px 150px;
  row-gap: 16px;
  margin: 0;
}

.product-card-subtitle {
  margin: 0;
}

.product-card-price {
  margin: 0;
  margin-left: 10px;
}

.stars-rating {
  position: relative;
  width: 125px;
}

.star {
  width: 18px;
  height: 17px;
}

.star::after {
  position: absolute;
  content: "";
  background-image: url(../images/star-1.svg);
  background-repeat: no-repeat;
  top:0;
  left:0;
  right: 0px;
  bottom: 0px;
  width: 18px;
  height: 17px;
  margin: 10px 0 10px;
  padding: 0;
}

.star-2::after {
  top:0;
  left:24px;
  right: 0px;
  bottom: 0px;
  padding: 0;
}

.star-3::after {
  top:0;
  left:48px;
  right: 0px;
  bottom: 0px;
  padding: 0;
}

.star-4::after {
  top:0;
  left:72px;
  right: 0px;
  bottom: 0px;
  padding: 0;
}

.rating {
  align-self: center;
  justify-self: end;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #F2F2F2;
  margin: 0;
  width: 160px;
  box-sizing: border-box;
  padding: 8px 0 8px;
}

.divider {
  border: 1px solid #E6E6E6;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 60px 72px 73px;
  padding: 0;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 14px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #83B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
  outline: 3px solid #756257;
}

.pagination-link:active {
  background-color: #68A2CA;
  color: #FFFFFF;
  opacity: 0.3;
  outline: none;
}

.product-quantity {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 23px;
  position: relative;
}

.product-quantity-control {
  width: 160px;
  padding: 11px 16px;
  font: inherit;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  margin-left: 51px;
}

.product-quantity-control:focus-visible {
  outline: none;
}

.product-quantity-control:hover,
.product-quantity-control:focus {
  border: 2px solid #83B3D3;
}

.sorting-control:active {
  outline: 2px solid #E6E6E6;
  opacity: 0.3;
}

.inner-subscribe {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
  margin: 0;
  padding: 73px 200px 140px;
}

.inner-subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
  margin:0;
  margin-bottom: 46px;
}
